*{padding: 0;
    margin: 0;
    }
    
    
    body {
        padding: 0 5%;
    }

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 6px solid black;
    }


.logo {
   width: 10vw;
   padding-left: 4rem;
   padding-top: 1rem;
}

button {
    font-size: 1.5rem;
    line-height: 1rem;
    align-self: center;
    border-radius: 20%;
    padding: 1rem;
    
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {width: 4vw;
align-items: center;}

.mail {
    display: flex;
}
.message {
    display: flex;
    justify-content: space-between;
}
.about_us {
    display: flex;
    justify-content: space-between;
    border-bottom: 6px solid black;
    
}
.car {
    width: 50vw;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 5rem;
    
}
.text {
    display: flex;
    font-size: 2.5rem;
  
}
.list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.75rem;

}
ul{padding-left: 4.5rem;
    background: url(/ic/icons8-галочка-26.png) left no-repeat;
    
}

.map {
    width: 55vw;
}
.forma {
    padding: 1rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1,5rem;
    border-bottom: 6px solid black;
}
h2{font-size: 2.5rem;
    padding-bottom: 1.5rem;
    
}

.text1 {
    padding-left: 4rem;
    display: flex;
    font-size: 1.75rem;
    background: url(/ic/free-icon-fill-10484662.png) left no-repeat;

}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem 4rem;
    gap: 1rem;
}
p{
    font-size: 1.5rem;
}
input{
    font-size: 1.5rem;
    width: 40vw;
}
textarea {font-size: 1.5rem;
width: 40vw;}

.contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h3{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}
.photo{
    width: 20vw;
}
h4{font-size: 2.3rem;
align-self: center;}
.cont {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}